<md-bottom-sheet class="md-list md-has-header">
  <md-list ng-cloak>
    <md-list-item>
      <md-button class="md-list-item-content" flex layout="row" layout-align="center center" ng-click="edit($event)">
        <span class="md-inline-list-icon-label">Edit</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button class="md-list-item-content" flex layout="row" layout-align="center center" ng-click="delete()">
        <span class="md-inline-list-icon-label">Delete</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
